$base: 8px;

$space_0: $base / 2;
$space_1: $base;
$space_2: $base * 2;
$space_3: $base * 3;
$space_4: $base * 4;
$space_5: $base * 5;
$space_6: $base * 6;
$space_7: $base * 7;
$space_8: $base * 8;
$space_9: $base * 9;
$space_10: $base * 10;